{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ contact.lastname }} {{ contact.firstname }}</h1>
    <p>Nom : {{ contact.lastname }}</p>
    <p>Prenom : {{ contact.firstname }}</p>
    <p>email : {{ contact.email }}</p>
{% endblock %}

{% block title %}
    {{ contact.lastname }} {{ contact.firstname }}
{% endblock %}

