{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <h1>{{ name |capitalize}}</h1>
    {% set couleur = ['red', 'green'] %}
    {% for i in 1..10 %}
    <p style="color: {{cycle(couleur, i)}}">Hello {{ name |capitalize}} {{ i |format_number({integer_digit:2})}}</p>
    {% endfor %}
{% endblock %}